
.app__features {
  @media screen and (min-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.features {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  margin: 0 2rem;
  scroll-behavior: smooth;
  background: transparent;
  

  @media screen and (min-width: 2000px) {
    margin-top: 0rem;
  }

  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 450px) {
    padding: 0;
    margin: 0;
  }
}

.features__text {
  width: 50%;

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 1rem;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
    padding: 1rem;
  }

  h2 {
    max-width: 650px;
    text-align: left;
    padding-left: 1rem;
  }

  button {
    margin: 2rem 1rem;
    background-color: var(--secondary-color);
    offset: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    a {
      color: var(--white-color);
      font-weight: bold;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.features__animation {
  max-width: 50%;
  background-image: url(../../assets/bg_features_animation.png);
  width: 100%;
  background-size: cover;
  
    img {
      background-repeat: no-repeat;
      height: 100%;
      width: auto;
  }

  @media screen and (max-width: 900px) {
    max-width: 100%;
    padding: 1rem;
  }

  @media screen and (max-width: 450px) {
    max-width: 100%;
    padding: 1rem;
  }
}
