.app__navbar {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem 2rem;
  position: fixed;
  z-index: 2;
}

.app__navbar-animation {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 20px;
      height: 2px;
      background: transparent;

      margin-bottom: 5px;
    }

    a {
      color: var(--black-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 800;

      transition: all 0.1s ease-in-out;

      &:hover {
        color: #000;
      }
    }

    &:hover {
      div {
        background-color: VAR(--black-color);
        transition: all 0.1s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 70%;
    height: 70%;
    color: var(--black-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(19px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.35);

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.35);

    svg {
      width: 35px;
      height: 35px;
      color: var(--black-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--black-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.app__navbar-languages {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  button {
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      font-size: 20px;
    }

    &:hover {
      border: 2px solid var(--black-color);
      border-radius: 10px;
      transition: 0.1s;
    }

    @media screen and (max-width: 900px) {
      margin-top: 0;
    }
  }

  .app__languages-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(19px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.35);

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.35);

    svg {
      width: 30px;
      height: 30px;
      color: var(--black-color);
      align-self: flex-end;
    }

    ul {
      list-style: none;
    }

    button {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background: transparent;
      border: none;
      margin: 1rem 0.5rem;
      padding: 0.5rem;
      color: var(--black-color);
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }

      span {
        padding: 0rem 1rem;
      }

      &:hover {
        opacity: 80%;
        cursor: pointer;
      }
    }
  }
}
